[Unit]
Description=NZBGet Daemon
Documentation=http://nzbget.net/Documentation
After=network.target

[Service]
User=admin
Group=admin
ExecStart=/apps/nzbget-rn/nzbget -s -o OutputMode=log
KillMode=process
Restart=on-failure


[Install]
WantedBy=multi-user.target
