[Unit]
Description=NZBGet Daemon
Documentation=http://nzbget.net/Documentation
After=network.target

[Service]
User=admin
Group=admin
Type=forking
PIDFile=/run/nzbget-rn/nzbget.lock
RuntimeDirectory=nzbget-rn
ExecStart=/apps/nzbget-rn/nzbget -D
ExecStop=/apps/nzbget-rn/nzbget -Q
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure


[Install]
WantedBy=multi-user.target
